<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="mgs_apache_menu"
         name="Apache Configuration"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:project?after=additions">
         <command
               commandId="mgs.apachephp.openApacheConfigurationCommand"
               label="Apache Configuration"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mgs.plugin.apache.wizard.OpenApacheConfigurationHandler"
            id="mgs.apachephp.openApacheConfigurationCommand"
            name="OpenApacheConfiguration">
      </command>
   </extension>

</plugin>
